#wrapper{
  height: 100dvh;
}
#content-wrapper{
  height: 100%;
  overflow: auto;
}
.alert{
  position: fixed;
  right: 1rem;
  top: 5rem;
}

.detail_project img{
  width: 100% !important;
}

.imgres{
  max-width: 100% !important;
}

#img-preview{
  max-height: 320px !important;
}

trix-editor{
  height: 350px;
  overflow-y: auto;
}


/* scroll */

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #5a5c69;
  background-image: linear-gradient(180deg, #5a5c69 10%, #373840 100%);
}

*::-webkit-scrollbar-track:hover {
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:active {
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #e74a3b;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #e74a3b;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #e74a3b;
}